<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
     <ion-buttons slot="end">
      <b slot="end" *ngIf="this.ListModel.IsActive == 0" style="color: red;">Cancel</b> 
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head" style="background-color: red;color:white;text-align: center;padding-top:2%;padding-bottom:3%;">
    <h3>#{{this.ListModel.ORDER_NAME}}</h3>
    <h1>จำนวน {{this.ListModel.TotalOrder}} บาท</h1> 
<hr>
</div>
  <ion-grid>

    
    <ion-list>
      <ion-list-header>
        <ion-label> แคชเชียร์ : เจ้าของ<br>
        ลูกค้า : {{this.ListModel.CUSTOMER_NAME}}</ion-label>
      </ion-list-header>
        <ion-item *ngFor="let item of DetailModel">
          <ion-label>
            <h3>{{item.GOODS_NAME}} x1  <b *ngIf="item.IsActive == 0 && this.ListModel.IsActive == 1" style="color: red;">ยกเลิกรายการ</b></h3>
          </ion-label>
          <ion-label slot="end" style="text-align: right;">
            <h3>{{item.PRICE| number}}</h3>
          </ion-label>
        </ion-item>
      <ion-item *ngIf="this.ListModel.AMOUNT_DISCOUNT > 0 && this.ListModel.AMOUNT_DISCOUNT != null">
        <ion-label>
          <h3>ส่วนลด</h3>
        </ion-label>
        <ion-label slot="end" style="text-align: right;">
          <h3>-{{this.ListModel.AMOUNT_DISCOUNT| number}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <b>รวมทั้งหมด</b>
        </ion-label>
        <ion-label slot="end" style="text-align: right;">
          <b>{{this.ListModel.TotalOrder| number}}</b>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>{{this.ListModel.TimeStamp}}</p>
        </ion-label>
        <ion-label slot="end" style="text-align: right;">
          <p>#{{this.ListModel.ORDER_NAME}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
