<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>หมวดหมู่</ion-title> -->
    <ion-buttons slot="end"  (click)="addPage()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;เพิ่ม หมวดสินค้า
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head" style="background-color: red;color:white;text-align: center;padding-top:1%;padding-bottom:1%;">
    
    <h2>หมวดหมู่สินค้า</h2>

  <br>
  </div>
  <ion-grid>
    <ion-item *ngFor="let item of ModelList" (click)="addEditPage(item)" >
      <ion-avatar slot="start">
        <img src="{{this.PathIMAGE}}upload/icon.png">
      </ion-avatar>
      <ion-label>
        <h3>{{item.NAME}}</h3>
      </ion-label>
    </ion-item>
  </ion-grid>
</ion-content>
