<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ข้อมูลประวัติลูกค้า</ion-title>
    <ion-buttons slot="end" (click)="onSaveNOTE()" >
      <ion-button >
        <ion-label><b>บันทึก</b></ion-label>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" (click)="onSave()" *ngIf="this.flag == true" >
      <ion-button >
        <ion-label><b>เพิ่มลูกค้า</b></ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onDelete()" *ngIf="this.flag == false" >
      <ion-button >
        <ion-label><b>ลบ</b></ion-label>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-img *ngIf="CustomerModel.pictureUrl != ''"  src="{{CustomerModel.pictureUrl}}"></ion-img>
        <ion-img *ngIf="CustomerModel.pictureUrl == ''"src="{{this.PathIMAGE}}upload/User/avatar.jpg"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h2 style="text-align:center">{{CustomerModel.NAME}}</h2></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>
          <h3>&nbsp;{{CustomerModel.EMAIL}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>
          <h3>&nbsp;{{CustomerModel.TEL}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>
          <h3>&nbsp;{{CustomerModel.REWARDPOINT}} คะแนน</h3>
        </ion-label>
      </ion-item>
  </ion-grid>
  <ion-grid>
    <ion-item>
      <ion-label>
        NOTE
      </ion-label>
      <ion-textarea rows="6" [(ngModel)]="CustomerModel.NOTE" >
      </ion-textarea>
    </ion-item>
      <!-- <ion-button (click)="onSaveNOTE()" expand="full">บันทึก NOTE</ion-button> -->
      <ion-button  (click)="onSave()" *ngIf="this.flag == true" color="success" expand="full">เพิ่มลูกค้าในบิล</ion-button>
      <ion-button (click)="onDelete()" *ngIf="this.flag == false" color="danger" expand="full">ลบลูกค้าในบิล</ion-button>
  </ion-grid>
</ion-content>
