<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">เปิดออเดอร์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label style="text-align: center;"><h3>ออเดอร์ที่บันทึก</h3></ion-label>
  <ion-item-sliding *ngFor="let item of this.TempOrderModel">
    <ion-item>
      <ion-label>
        <h2>{{item.ORDER_NAME}}</h2>
        <small >{{item.TimeStamp}},{{item.SELLER_NAME}}</small>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="addOrder(item)">
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;เลือกรายการ   
      </ion-item-option>
      <ion-item-option color="danger" (click)="deletetemporder(item)">
        <ion-icon name="trash-outline"></ion-icon>&nbsp;ลบรายการ   
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
