

<ion-content>
  <div class="head">
    <img src="/assets/images/header_banner1.PNG" alt="">
    <!-- <img src="/assets/images/logo1.PNG" alt=""> -->
  </div>
  <div class="txtHeader">
    <h3>
      Point Of Sale Application
    </h3>
    <p>Smart Solution</p>
    
  </div>
  <div class="form">
    <br><br>
    <ion-grid>
      <ion-item>
        <ion-label>E-Mail</ion-label>
        <ion-input [(ngModel)]="this.CreateModel.EMAIL"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="Password"[(ngModel)]="this.CreateModel.PASSWORD"></ion-input>
      </ion-item>
      <hr>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="ngOnLogin()" routerDirection="root" >เข้าสู่ระบบ</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="onRegister()">สมัครใช้งาน</ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="text-align:right;">
        <ion-col>
         <p style="color:white;padding-right:5%;"><label (click)="onForgetpassword()">ลืมรหัสผ่าน</label> </p> 
         <!-- | <label (click)="onChangepassword()">เปลี่ยนรหัสผ่าน</label> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <div class="txtHeader">
      Contact us <br>
      <!-- www.devdeethailand.com <br> -->
      contact@devdeethaild.com <br>

    </div>
  </div>
</ion-content>
