<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">จัดการ ข้อมูลสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner" style="background-color: darkblue;color:white;text-align: center;padding-top:0%;padding-bottom:0%;">
    <img src="../../../assets/images/banner_login.png" alt="">
  </div>
  <div class="head" style="background-color: darkblue;color:white;text-align: center;padding-top:1%;padding-bottom:1%;">
    <!-- <p>จำนวนเงินที่ต้องชำระ</p> -->
    <h3>เลือกเมนู ในการจัดการข้อมูลสินค้า</h3>
<hr>
</div>
  <ion-grid>

    <ion-item (click)="onListCategory()">
      <ion-avatar slot="start" >
        <ion-icon name="copy-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>หมวดหมู่</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="onListGoods()">
      <ion-avatar slot="start" >
        <ion-icon name="list-outline"></ion-icon>      
      </ion-avatar>
      <ion-label>
        <h3>รายการสินค้า</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="onListDiscount()">
      <ion-avatar slot="start" >
        <ion-icon name="pricetag-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>ส่วนลด</h3>
      </ion-label>
    </ion-item>
  </ion-grid>
</ion-content>
