<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>สรุปยอดขาย</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="selectdatestart()">เลือกวันที่</ion-button> -->
  <ion-grid style="background-color: rgb(2, 2, 51);">
    <ion-item>
      <ion-label>
        <b>วันที่เริ่มต้น</b>&nbsp;{{this.DateStart}}
      </ion-label>
      <ion-button slot="end" (click)="selectdatestart()">เลือกวันที่เริ่มต้น</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>วันที่สิ้นสุด</b>&nbsp;{{this.DateEnd}}
      </ion-label>
      <ion-button slot="end" (click)="selectdateend()">เลือกวันที่สิ้นสุด</ion-button>
    </ion-item>
  </ion-grid>
  
  <ion-list>
    <ion-list-header style="background-color:white;color:black;">
     <h3> รายงานยอดขาย </h3>
    </ion-list-header>
    <ion-item class="sale">
      <ion-label>ยอดขาย</ion-label>
      <ion-note slot="end" color="white">{{Header.Total| number}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>คืนเงิน</ion-label>
      <ion-note slot="end" color="warning">{{Header.Refund| number}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>ส่วนลด</ion-label>
      <ion-note slot="end" color="warning">{{Header.Discount| number}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>กำไรสุทธิ</ion-label>
      <ion-note slot="end" color="primary">{{(Header.Total-Header.Refund-Header.Discount)| number}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>กำไรรวม</ion-label>
      <!-- {{(Header.Total-Header.Refund-Header.Discount)-(Header.Cost- Header.TotalCostRefund)}}
      {{(Header.Total-Header.Refund-Header.Discount)-(Header.TotalCostRefund - Header.Cost) -->
      <ion-note slot="end" color="primary">{{(Header.Total-Header.Refund-Header.Discount)-(Header.Cost - Header.TotalCostRefund ) | number}}</ion-note>
    </ion-item>
  </ion-list>
  <canvas id="canvas-chart"></canvas>
  <ion-grid >
    <div style="overflow-x:auto;">
      <table border="1" width="100%" >
        <thead>
          <tr>
            <th>วันที่</th>
            <th>ยอดขาย</th>
            <th>คืนเงิน</th>
            <th>ส่วนลด</th>
            <th>ยอดขายสุทธิ</th>
            <th>ต้นทุนสินค้า</th>
            <th>กำไรรวม</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.ListModel">
            <td>{{item.Day}}</td>
            <td>{{item.Total| number}}</td>
            <td>{{item.Refund| number}}</td>
            <td>{{item.Discount | number}}</td>
            <td>{{item.Total-item.Refund-item.Discount | number}}</td>
            <td>{{item.Cost | number}}</td>
            <td>{{(item.Total-item.Refund-item.Discount)- (item.Cost - item.TotalCostRefund) | number}}</td>
          </tr>
        </tbody>
      </table> 
    </div>  
  </ion-grid>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
