<ion-header>
  <ion-toolbar color="dark">
     <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head" style="background-color: red;color:white;text-align: center;padding-top:1%;padding-bottom:1%;">
    <!-- <p>จำนวนเงินที่ต้องชำระ</p> -->
    <h2>รายละเอียดสินค้า</h2>
<hr>
</div>
  <ion-grid>
    <ion-row >
      <ion-col style="text-align: center;">
        <ion-img src="{{this.PathIMAGE}}upload/Goods/{{CreateModel.IMAGE}}" style="width: 100%;"></ion-img>  <hr>
      </ion-col>
    </ion-row>
    </ion-grid>
    <hr style="border-top: 1px dashed red;padding:3%;">
<ion-grid style="padding-left:5%;padding-right: 5%;">
 
    <ion-row >
      <h2 style="text-align:center;">ชื่อสินค้า {{CreateModel.NAME}}</h2> 
    </ion-row>
    <ion-row >
       <h3 style="text-align:center;">ราคา {{CreateModel.PRICE}} บาท</h3>
    </ion-row>
    <ion-row >
      <h3 style="text-align:center;">ประเภทสินค้า {{CreateModel.CATEGORYNAME}}</h3>
    </ion-row>
    <ion-row >
      <h3 style="text-align:center;">สถานะสินค้า <span *ngIf="CreateModel.STATUS == 1" style="color: green;">พร้อมขาย</span><span *ngIf="CreateModel.STATUS == 0" style="color:red;">ไม่พร้อมขาย</span></h3>
    </ion-row>
  </ion-grid>
</ion-content>
