<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ส่วนลด</ion-title>
    <ion-buttons slot="end"  (click)="addPage()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;เพิ่ม
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item *ngFor="let item of this.ModelList " (click)="addEditPage(item)">
      <ion-icon slot="start" name="pricetag-outline"></ion-icon>
      <ion-label>
        <h3>{{item.NAME}}</h3>
        <p *ngIf="item.BAHTORPERCENT == 0">จำนวนที่ลด {{item.DISCOUNT}}บาท</p>
        <p *ngIf="item.BAHTORPERCENT == 1">จำนวนที่ลด {{item.DISCOUNT}} %</p>
      </ion-label>
    </ion-item>
  </ion-grid>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
