<ion-header>
  <ion-toolbar color="dark">
    <ion-back-button slot="start"></ion-back-button> 
    <ion-title style="text-align: center;">ลืมรหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <img src="/assets/images/shop1.PNG" alt="">
  </ion-grid>
  <div class="txtHeader">
    
    <h3>ลืมรหัสผ่าน</h3>
    
  </div>
  <hr>
  <ion-grid>
    <ion-item>
      <ion-label>
        E-Mail
      </ion-label>
      <ion-input type="email" [(ngModel)]="this.EMAIL"></ion-input>
    </ion-item>
  </ion-grid>
  <ion-row>
    <ion-col padding>
      <ion-button expand="block" routerDirection="root"(click)="submit()" >ลืมรหัสผ่าน</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
