
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ต่ออายุร้านค้า</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="banner" style="background-color: darkblue;color:white;text-align: center;padding-top:0%;padding-bottom:0%;">
    <img src="../../../assets/images/banner_login.png" alt="">
  </div>
  <h1 style="text-align: center;padding:3%;color:white;">วันหมดอายุ {{this.CreateModel.EXPIRED_DATE}}<br>คงเหลือ {{this.diffDays}} วัน</h1>
  <h2 style="text-align: center;padding:3%;color:white;">
    ใส่โค๊ดเพื่อต่ออายุการใช้งาน
  </h2>
  <ion-item>
    <ion-label>
        CODE
    </ion-label>
    <ion-input [(ngModel)]="this.CODE"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="ngSaveRenewCode()">ต่ออายุ</ion-button>

  <div class="txtHeader" style="padding:3%;color:white;">
      <h3 style="text-align: center;">
      <hr>
     <br>
    <!-- www.devdeethailand.com <br> -->
     support@devdeethaild.com 
 
  </h3>
  </div>
  <!-- <div class="upper">
  </div>    -->
  <!-- <div class="lower">
    
  </div>   -->
</ion-content>
