<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>ยอดขายตามสินค้า</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid style="background-color: rgb(2, 2, 51);">
    <ion-item>
      <ion-label>
        <b>วันที่เริ่มต้น</b>&nbsp;{{this.DateStart}}
      </ion-label>
      <ion-button slot="end" (click)="selectdatestart()">เลือกวันที่เริ่มต้น</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>วันที่สิ้นสุด</b>&nbsp;{{this.DateEnd}}
      </ion-label>
      <ion-button slot="end" (click)="selectdateend()">เลือกวันที่สิ้นสุด</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>ค้นหาเลขใบเสร็จ</b>
      </ion-label>
      <ion-input [(ngModel)]="this.NAME"></ion-input>
      <ion-button slot="end" (click)="getList()">ค้นหา</ion-button>
    </ion-item>
  </ion-grid>
    <ion-list>
      <ion-list-header style="background-color:white;color:black;">
        <h3>จำนวน ใบเสร็จ</h3> 
      </ion-list-header>
      <ion-item>
        <ion-label>ใบเสร็จทั้งหมด</ion-label>
        <ion-note slot="end" color="white">{{this.Total| number}} รายการ</ion-note>
      </ion-item>
  
      <ion-item>
        <ion-label>บิลขายทั้งหมด</ion-label>
        <ion-note slot="end" color="white">{{this.Total-this.refund| number}} รายการ</ion-note>
      </ion-item>
  
      <ion-item>
        <ion-label>ยกเลิกบิล</ion-label>
        <ion-note slot="end" color="warning">{{this.refund| number}} รายการ</ion-note>
      </ion-item>
    </ion-list>
    <ion-grid>
        <table border="1" width="100%">
          <thead>
            <tr>
              <th>เลขที่ใบสร็จ</th>
              <th>วันที่-เวลา</th>
              <th>พนักงาน</th>
              <th>ลูกค้า</th>
              <th>ประเภทชำระเงิน</th>
              <th>รวมทั้งหมด</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of this.ListModel" (click)="onDetail(item)" >
              <td>{{item.ORDER_NAME}}</td>
              <td>{{item.TimeStamp}}</td>
              <td>{{item.SELLER_ID}}</td>
              <td>{{item.CUSTOMER_NAME}}</td>
              <td>{{item.CATEGORYPAYMENT}}</td>
              <td>          
                <ion-label> <b *ngIf="item.IsActive == 0" style="color: red;">ยกเลิก</b> <b *ngIf="item.IsActive == 1">{{item.TotalOrder| number}}</b></ion-label>
              </td>
            </tr>
          </tbody>
        </table>  
    </ion-grid>
    <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  