<ion-header>
  <ion-toolbar color="dark">
    <ion-menu-button slot="start"></ion-menu-button> 
    <ion-title style="text-align: center;">เปลี่ยนรหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <img src="/assets/images/shop1.PNG" alt="">
  </ion-grid>
  <div class="txtHeader">
    
    <h3>เปลี่ยนรหัสผ่าน</h3>
    
  </div>
  <hr>
  <ion-grid>
    <ion-item>
      <ion-label>
        E-Mail
      </ion-label>
      <ion-input type="email" [(ngModel)]="this.EMAIL" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Password
      </ion-label>
      <ion-input [(ngModel)]="this.PASSWORD" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        New-Password
      </ion-label>
      <ion-input  [(ngModel)]="this.NEWPASSWORD"type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Confirm-Password
      </ion-label>
      <ion-input [(ngModel)]="this.CONFIRMPASSWORD"type="password"></ion-input>
    </ion-item>
  </ion-grid>
  <ion-row>
    <ion-col padding>
      <ion-button expand="block" routerDirection="root"(click)="submit()" >เปลี่ยนรหัสผ่าน</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
