

<ion-content>
  <div class="head">
    <img src="../../../assets/images/banner_login.png" alt="">
    <!-- <img src="/assets/images/logo1.PNG" alt=""> -->
  </div>
  <br>
  <div class="txtHeader">
    <h3>
     Dashboard for D-POS
    </h3>
    <p>Smart Solution</p>
    
  </div>
  <br><br>
  <ion-grid>
    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input [(ngModel)]="this.CreateModel.EMAIL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="Password"[(ngModel)]="this.CreateModel.PASSWORD"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="ngOnLogin()" routerDirection="root" >Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align:right;">
      <ion-col>
       <p style="color:white;padding-right:5%;"><label (click)="onForgetpassword()">ลืมรหัสผ่าน</label></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
