<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ยอดขายตามสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="background-color: rgb(2, 2, 51);">
  <ion-item>
    <ion-label>
      <b>วันที่เริ่มต้น</b>&nbsp;{{this.DateStart}}
    </ion-label>
    <ion-button slot="end" (click)="selectdatestart()">เลือกวันที่เริ่มต้น</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>วันที่สิ้นสุด</b>&nbsp;{{this.DateEnd}}
    </ion-label>
    <ion-button slot="end" (click)="selectdateend()">เลือกวันที่สิ้นสุด</ion-button>
  </ion-item>
</ion-grid>
  <ion-list>
    <ion-list-header style="background-color:white;color:black;">
      <h3> สินค้าขายดีที่สุด </h3>
    </ion-list-header>
    <ion-item *ngFor="let item of this.HeaderModel" >
      <ion-label>{{item.GOODS_NAME}}</ion-label>
      <ion-note slot="end" color="white">{{item.TotalGoods | number}}</ion-note>
    </ion-item>
  </ion-list>
  <canvas id="canvas"></canvas>
  <ion-grid>
    <div style="overflow-x:auto;">
     
      <table border="1" width="100%">
        <thead>
          <tr>
            <th>วันที่</th>
            <th>ประเภทสินค้า</th>
            <th>สินค้า</th>
            <th>ยอดขายสุทธิ</th>
            <th>ต้นทุนสินค้า</th>
            <th>กำไรรวม</th>
            <th>สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.ListGoodsModel">
            <td>{{item.Date}}</td>
            <td>{{item.NAME}}</td>
            <td>{{item.GOODS_NAME}}</td>
            <td>{{item.TotalGoodsPrice | number}}</td>
            <td>{{item.TotalCOST | number}}</td>
            <td>{{item.TotalGoodsPrice-item.TotalCOST | number}}</td>
            <td><b *ngIf="item.IsActive == 1" style="color: green;">ขาย</b><b *ngIf="item.IsActive == 0" style="color: red;">ยกเลิก</b></td>
          </tr>
        </tbody>
      </table>  
    </div>  
  </ion-grid>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
