<ion-header>
  <ion-toolbar color="dark">
     <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align: center;">รายละเอียด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-img src="{{this.PathIMAGE}}upload/Goods/{{CreateModel.IMAGE}}"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
        <ion-col>
        <ion-label ><h1 style="text-align:center">Voucher {{CreateModel.NAME}}</h1></ion-label>
      </ion-col>
        <ion-col>
        </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-label ><h2 style="text-align:left">คะแนนที่ใช้ {{CreateModel.EXCHANGE_REWARD}} คะแนน </h2></ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-label ><h2 style="text-align:left">แลกเป็นส่วนลด {{CreateModel.DISCOUNT}} บาท</h2></ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-label ><h2 style="text-align:left">จำนวนวันของลูกค้า {{CreateModel.TOTALDATE}} วัน</h2></ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-label ><h2 style="text-align:left">วันเริ่มต้น {{CreateModel.DATE_START_CAMPAIGN}}</h2></ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-label ><h2 style="text-align:left">วันที่สิ้นสุด {{CreateModel.DATE_END_CAMPAIGN}}</h2></ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-label >
          <p *ngIf="CreateModel.STATUS == 0" style="color: red;">ปิดใช้งาน</p>
          <p *ngIf="CreateModel.STATUS == 1" style="color: green;">พร้อมใช้งาน</p> </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
