<ion-header>
  <ion-toolbar>
    <ion-title>รายชื่อร้านค้าทั้งหมด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-icon name="search-outline"></ion-icon>
      <ion-input  placeholder="ค้นหา" [(ngModel)]="this.search" ></ion-input>
      <ion-buttons slot="end" color="primary" (click)="getList()">ค้นหา</ion-buttons>
    </ion-item>
    <ion-item *ngFor="let item of this.ModelList" (click)="getDetail(item)">
       <ion-avatar slot="start">
        <img src="{{this.pathimg}}upload/Business/{{item.IMAGE}}">
      </ion-avatar>
       <ion-label>
          <h3>{{item.NAME}}</h3>
          <p>{{item.EMAIL}}</p>
       </ion-label>
    </ion-item>
  </ion-grid>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
