<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">แลกสินค้า</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <!-- <ion-item>
      <ion-label>เลือก หมวดหมู่สินค้า</ion-label>
      <ion-select placeholder="เลือกรายการ"[(ngModel)]="this.optionFilter" (ionChange)="onFilterList($event)">
        <ion-select-option value="all" selected>ทั้งหมด</ion-select-option>
        <ion-select-option  value="goods">สินค้า</ion-select-option>
        <ion-select-option *ngFor="let item of GoodsComboList"  value="{{item.ID}}">{{item.NAME}}</ion-select-option>
        <ion-select-option value="discount">ส่วนลด</ion-select-option>
      </ion-select>
    </ion-item> -->
    <div class="ion-padding">
      <ion-row>
        <ion-col size = "3" size-md="4" size-xs="6">
          <ion-card style="width: 100%; max-height: 300px;margin:0 auto;">
            <img src="{{this.PathIMAGE}}upload/Goods/" width="100%" height="200px"/>
            <ion-card-content >
              <div class="cut-text" style="width: 100px;">
                <h3><b >item.NAME</b></h3>
              </div>
              <small>PRICE ฿</small>
              <!-- <small *ngIf="item.STATUS == 0" style="color: red;" > สินค้าหมด</small> -->
            </ion-card-content>
          </ion-card>
        </ion-col>   
        <ion-col size = "3" size-md="4" size-xs="6">
          <ion-card style="width: 100%; max-height: 300px;margin:0 auto;">
            <img src="{{this.PathIMAGE}}upload/Goods/" width="100%" height="200px"/>
            <ion-card-content >
              <div class="cut-text" style="width: 100px;">
                <h3><b >item.NAME</b></h3>
              </div>
              <small>PRICE ฿</small>
              <!-- <small *ngIf="item.STATUS == 0" style="color: red;" > สินค้าหมด</small> -->
            </ion-card-content>
          </ion-card>
        </ion-col>   
        <ion-col size = "3" size-md="4" size-xs="6">
          <ion-card style="width: 100%; max-height: 300px;margin:0 auto;">
            <img src="{{this.PathIMAGE}}upload/Goods/" width="100%" height="200px"/>
            <ion-card-content >
              <div class="cut-text" style="width: 100px;">
                <h3><b >item.NAME</b></h3>
              </div>
              <small>PRICE ฿</small>
              <!-- <small *ngIf="item.STATUS == 0" style="color: red;" > สินค้าหมด</small> -->
            </ion-card-content>
          </ion-card>
        </ion-col>   
      </ion-row>
    </div>
  </ion-grid>
  <!-- <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="onAddPage()">เพิ่มสินค้าแลกคะแนน</ion-button>
</ion-footer>