<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">การตั้งค่า</ion-title>
  </ion-toolbar>
</ion-header>
  
<div class="container">
  <div class="upper">
  </div>  
  <div class="lower">
      <ion-label style="text-align: center;"><h1><b>ตั้งค่ายังไม่เปิดการใช้งาน</b></h1></ion-label>
  </div>  
</div>