<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" (click)="onOpenScanbarcode()">
      <ion-button>
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title style="text-align: center;">ชำระเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head" style="background-color: red;color:white;text-align: center;padding-top:2%;padding-bottom:3%;">
      <p>จำนวนเงินที่ต้องชำระ</p>
      <h2>{{this.TotalOrder}} บาท</h2>
  <hr>
  </div>
  <ion-grid>
  <!-- <hr>
  <ion-label style="text-align: center;">
    <h2>{{this.TotalOrder}} บาท</h2>
    <p>จำนวนเงินที่ต้องชำระ</p>
  </ion-label> -->
  
  <ion-list>
    <ion-radio-group [(ngModel)]="this.ORDERTYPE">
      <ion-list-header>
        <ion-label>เลือกประเภทการสั่ง</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>ทานที่ร้าน</ion-label>
        <ion-radio slot="start" value="To Stay"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>สั่งกลับบ้าน</ion-label>
        <ion-radio slot="start" value="Take Away"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Delivery</ion-label>
        <ion-radio slot="start" value="Delivery"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <hr>
  <div *ngIf="undefined !== this.ORDERTYPE" >
    <div *ngIf="this.qrPromp == false">
      <ion-list-header>
        <ion-label>รับเงินจำนวน</ion-label>
        <br>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" [(ngModel)]="this.Received"></ion-input>
      </ion-item>
      <ion-button color="primary" (click)="onReceive50()">50</ion-button>
      <ion-button color="primary" (click)="onReceive100()">100</ion-button>
      <ion-button color="primary" (click)="onReceive200()">200</ion-button>
      <ion-button color="primary" (click)="onReceive500()">500</ion-button>
      <ion-button color="primary" (click)="onReceive1000()">1,000</ion-button>
      <hr>

      <!-- <ion-label></ion-label> -->
      <ion-list-header>
        <ion-label>เตรียมเงินทอนจำนวน : <b *ngIf="this.Received - this.TotalOrder > 0" >{{this.Received - this.TotalOrder}}</b><b *ngIf="this.Received - this.TotalOrder <= 0" >0</b></ion-label>
      </ion-list-header>
    </div>

    <ion-row  *ngIf="this.qrPromp == true" >
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-img src="{{this.imageQr}}" style="width:100%;"></ion-img>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>  
    <ion-row *ngIf="this.qrPromp == true" >
      <ion-col>
        <ion-button expand="full" color="danger" (click)="onCashPromptpaySuccess()">ชำระเสร็จสิ้น</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="onCashPromptpayCancel()">เปลี่ยนวิธีชำระเงิน</ion-button>
      </ion-col>
    </ion-row> 
    <ion-row  *ngIf="this.qrPromp == false" >
      <ion-col>
        <ion-button expand="full"  color="danger" (click)="onCash()">ชำระด้วย เงินสด</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"  color="danger" (click)="onCashPromptpay()">ชำระด้วย พร้อมเพย์</ion-button>
      </ion-col>
      <!-- <ion-col>
        <ion-button expand="full" (click)="onCash()" disabled>ชำระด้วยบัตร</ion-button>
      </ion-col> -->
    </ion-row> 
  </div>
</ion-grid>

<ion-grid>
  <!-- <ion-label>
    <h2>รายการออเดอร์</h2>
  </ion-label> -->

    <ion-row no-padding justify-content-start align-items-start>
      <ion-col>
        <p style="text-align:center; background-color: red;color:white;padding-top:2%;padding-bottom: 2%;;">รายการออเดอร์ </p>
      </ion-col>
    </ion-row>

  <!-- <ion-row style="background-color:red;color:white;">
        <p style="text-align:center;">รายการออเดอร์ </p>
  </ion-row> -->
  <ion-item-sliding *ngFor="let item of this.TempGoodsList">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{this.PathIMAGE}}upload/Goods/{{item.IMAGE}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.NAME}}</h2>
        <small style="text-align: right;">{{item.PRICE}} บาท</small>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="danger" (click)="onDeleteItemInList(item)">
        <ion-icon name="trash-outline"></ion-icon>&nbsp;ลบรายการ         
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding *ngFor="let item of this.TempDiscount">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{this.PathIMAGE}}upload/discount.png">
      </ion-avatar>
      <ion-label>
        <h2>{{item.NAME}}</h2>
        <small style="text-align: right;">ลด {{item.DISCOUNT}} <span *ngIf="item.BAHTORPERCENT == 0" >บาท</span> <span *ngIf="item.BAHTORPERCENT == 1">%</span></small>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="danger" (click)="onDeleteDiscountInList(item)">
        <ion-icon name="trash-outline"></ion-icon>&nbsp;ลบรายการ   
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-grid>    
</ion-content>
