<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">App Version</ion-title>
  </ion-toolbar>
</ion-header>
  
<div class="container">
  <div class="banner" style="background-color: darkblue;color:white;text-align: center;padding-top:0%;padding-bottom:0%;">
    <img src="/assets/images/header_banner1.PNG" alt=""> 
  </div>
  <!-- <div class="upper">
    <h1>
      Beta version
      <b>v20.04.20.001</b></h1>
  </div>   -->
  <div class="lower">
    <br>
      <ion-label style="text-align: center;"><h1>

        Beta version
        <br>
        <b>v20.04.20.001</b></h1></ion-label>
  </div>  
</div>