<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">เพิ่มลูกค้าลงในรายการ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="search-outline"></ion-icon>
    <ion-input  placeholder="ค้นหา" [(ngModel)]="this.Search" (ionChange)="getList()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="text-align: center;">เพิ่มลูกค้าใหม่</ion-label>
  </ion-item>
  <ion-item >
    <ion-label style="text-align: center;">เบอร์โทรศัพท์</ion-label>
    <ion-input [(ngModel)]="this.TEL"></ion-input>
    <ion-button slot="end" (click)="onAddList()">เพิ่ม</ion-button>
  </ion-item>
  <ion-button expand="full" (click)="onOpenScanbarcode()">เพิ่มโดยการ SCAN QR CODE ลูกค้า</ion-button>
  <ion-grid>
    <ion-label>รายชื่อลูกค้า</ion-label>
      <ion-item (click)="onDetail(item)" *ngFor="let item of this.CustomerList" >
        <ion-avatar slot="start">
          <img *ngIf="item.pictureUrl != ''"  src="{{item.pictureUrl}}">
          <img  *ngIf="item.pictureUrl == ''"src="{{this.PathIMAGE}}upload/User/avatar.jpg">
        </ion-avatar>
        <ion-label>
          <h2>{{item.NAME}}</h2>
          <p>{{item.EMAIL}},{{item.TEL}}</p>
        </ion-label>
      </ion-item>
  </ion-grid>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
