<ion-header>
  <ion-toolbar>
     <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align: center;">รายละเอียดสินค้า</ion-title>
    <ion-buttons slot="end"  (click)="onAddPage()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;แก้ไขสินค้า
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-img src="{{this.PathIMAGE}}upload/Goods/{{CreateModel.IMAGE}}"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h1 style="text-align:center">{{CreateModel.NAME}}</h1></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h2 style="text-align:center">ราคา {{CreateModel.PRICE}} บาท</h2></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h2 style="text-align:center">ประเภทสินค้า {{CreateModel.CATEGORYNAME}}</h2></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row *ngIf="CreateModel.STOCK_IsActive == 1">
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h2 style="text-align:center">คลังคงเหลือ {{CreateModel.STOCK}}</h2></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h2 style="text-align:center">สถานะสินค้า <span *ngIf="CreateModel.STATUS == 1" style="color: green;">พร้อมขาย</span><span *ngIf="CreateModel.STATUS == 0" style="color:red;">ไม่พร้อมขาย</span></h2></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-img src="{{this.PathIMAGE}}upload/barcode/{{CreateModel.BARCODE}}"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
