<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title style="text-align: center;">เพิ่มสินค้า</ion-title> -->
    <ion-buttons slot="end"  (click)="upload()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;บันทึก
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <img src="{{this.PathIMAGE}}upload/User/{{this.CreateModel.IMAGE}}"*ngIf="base64img =='' && this.CreateModel.IMAGE != ''" width="200px" height="200px">
        <img [src]=base64img class="square" *ngIf="base64img!=''" width="200px" height="200px">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
          <ion-button  (click)="imageCapturedGallery()" style="width: 200px;"> เลือกรูป </ion-button>&nbsp;
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>
      <b>ชื่อ</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.NAME"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>เบอร์โทร</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.TEL"  type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>อีเมลล์</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.EMAIL" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>สาขา</ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.BRANCH_ID" >
      <ion-select-option *ngFor="let item of BranchComboList" value="{{item.ID}}">{{item.NAME}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>ตำแหน่ง</ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.ROLE_ID" >
      <ion-select-option *ngFor="let item of RoleComboList" value="{{item.ID}}">{{item.NAME}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
