<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ทีมพัฒนาโปรแกรม</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="banner" style="background-color: darkblue;color:white;text-align: center;padding-top:0%;padding-bottom:0%;">
    <img src="/assets/images/header_banner1.PNG" alt=""> 
  </div>
  <div class="txtHeader" style="padding:3%;color:white;">
      <h3 style="text-align: center;">
        Application พัฒนาโดย <br><br>
        Smart Solution <br><br>
        หากท่านต้องการความช่วยเหลือ หรือสอบถามการใช้งานเพิ่มเติม <br><br>
        ติดต่อได้ที่
  
      <hr>
     <br>
    <!-- www.devdeethailand.com <br> -->
     support@devdeethailand.com <br><br>

  </h3>
  </div>
  <!-- <div class="upper">
  </div>    -->
  <!-- <div class="lower">
    
  </div>   -->
</ion-content>
