<ion-header>
  <ion-toolbar color="dark">
    <ion-title>สรุปการขาย</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner" style="background-color: darkblue;color:white;text-align: center;padding-top:0%;padding-bottom:0%;">
    <img src="/assets/images/header_banner1.PNG" alt=""> 
   
      <p>ใบเสร็จเลขที่</p>
      <h2>#{{this.order_id}}</h2>
      <hr>

  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col style="background-color: darkred;color:white; margin:1%;">
        <ion-label style="text-align: center; ">
          <br>
          <p  style="color:white;">ยอดบิล</p>
            <h1>{{this.TotalOrder}} บาท</h1><br>
            
        </ion-label>
      </ion-col>
      <ion-col  style="background-color: darkred;color:white;margin:1%;">
        <ion-label style="text-align: center;">
          <br>
          <p  style="color:white;">เงินทอน</p>
            <h1>{{this.change}} บาท</h1><br>
            
        </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <ion-row >
      <ion-col>
        <ion-label><h1>ประเภทการสั่ง : {{this.ORDERTYPE}}</h1></ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-label><h2>ชำระ : {{this.CATEGORYPAYMENT}}</h2></ion-label>
      </ion-col>
    </ion-row>
    <div *ngIf="this.blcus == true" >
      <ion-row >
        <ion-col>
          <ion-label><h2>ลูกค้า : {{this.customer.NAME}}</h2></ion-label>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <ion-label><h2>จำนวนแต้มลูกค้า : {{+this.customer.REWARDPOINT + +this.TotalOrder}}</h2></ion-label>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="this.blcus == false" >
      <ion-row >
        <ion-col>
          <ion-label><h2>ลูกค้า : ลูกค้าทั่วไป</h2></ion-label>
        </ion-col>
      </ion-row>
    </div>
    
    <ion-button expand="full" style="margin-top: 20%;" (click)="onHome()">เริ่มการขายใหม่</ion-button>
    <div class="text" style="text-align:center;">
      <p>***กรุณา ขอบคุณลูกค้า หลังทำรายการเสร็จสิ้น***</p>
    </div>
  </ion-grid>
  
</ion-content>
