<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end"  (click)="upload()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;บันทึก
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">เพิ่ม Voucher</h1>
  <hr><hr>
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <img [src]=base64img class="square" *ngIf="base64img!=''" width="200px" height="200px">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
          <ion-button  (click)="imageCapturedGallery()" style="width: 200px;"> เลือกรูป </ion-button>&nbsp;
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>
      <b>ชื่อ</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.NAME"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>คะแนนที่ใช้</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.EXCHANGE_REWARD"></ion-input>
    <ion-label>
      <b>คะแนน</b>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>แลกเป็นส่วนลด</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.DISCOUNT"></ion-input>
    <ion-label>
      <b>บาท</b>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>ต้องใช้ส่วนลดภายใน</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.TOTALDATE"></ion-input>
    <ion-label>
      <b>วัน</b>
    </ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-label>
      <b>ประเภทลด</b>
    </ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.BAHTORPERCENT" >
      <ion-select-option value="0">บาท</ion-select-option>
      <ion-select-option value="1">%</ion-select-option>
    </ion-select>
  </ion-item> -->
  <ion-item>
    <ion-label>
      <b>วันเริ่มต้นแคมเปญ</b>&nbsp;{{this.CreateModel.DATE_START_CAMPAIGN}}
    </ion-label>
    <ion-button slot="end" (click)="selectdatestart()">เลือกวันเริ่มต้น</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>วันสิ้นสุดต้นแคมเปญ</b>&nbsp;{{this.CreateModel.DATE_END_CAMPAIGN}}
    </ion-label>
    <ion-button slot="end" (click)="selectdateend()">เลือกวันสิ้นสุด</ion-button>
  </ion-item>
  </ion-content>
