<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab3">
      <ion-icon name="basket"></ion-icon>
      <ion-label>ร้านค้าทั้งหมด</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="square"></ion-icon>
      <ion-label>ดูสินค้า</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>ดูใบเสร็จ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="code"></ion-icon>
      <ion-label>ดูโค๊ดสำหรับร้านค้า</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
