<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()">
        <ion-label><b>บันทึก</b></ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">สร้างลูกค้า</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-input placeholder="ชื่อลูกค้า" [(ngModel)]="this.CreateModel.NAME"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input placeholder="อีเมลล์" [(ngModel)]="this.CreateModel.EMAIL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-input placeholder="หมายเลขโทรศัพท์" [(ngModel)]="this.CreateModel.TEL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="cube-outline"></ion-icon>
      <ion-select placeholder="ระบุประเภทลูกค้า"[(ngModel)]="this.CreateModel.CATEGORY">
        <ion-select-option value="item.ID" *ngFor="let item of this.CustomercategoryModel" >{{item.NAME}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="reader"></ion-icon>
      <ion-textarea placeholder="หมายเหตุ" [(ngModel)]="this.CreateModel.NOTE"></ion-textarea>
    </ion-item>
  </ion-grid>
</ion-content>
