<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end"  (click)="OnSave()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;บันทึก ข้อมูลส่วนลด
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content><div class="head" style="background-color: red;color:white;text-align: center;padding-top:1%;padding-bottom:1%;">
    
  <h2>จัดการ ส่วนลด</h2>

</div>
ิ<br><br>
  <ion-item>
    <ion-label>
      <b>ชื่อส่วนลด</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.NAME"></ion-input>
  </ion-item>
   <ion-item>
    <ion-label>
      <b>จำนวนที่ลด</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.DISCOUNT"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>ประเภทลด</b>
    </ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.BAHTORPERCENT" >
      <ion-select-option value="0">บาท</ion-select-option>
      <ion-select-option value="1">%</ion-select-option>
    </ion-select>
  </ion-item>
  </ion-content>
