<ion-header>
  <ion-toolbar color="dark">
     <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head" style="background-color: red;color:white;text-align: center;padding-top:1%;padding-bottom:1%;">
    <!-- <p>จำนวนเงินที่ต้องชำระ</p> -->
    <h2>รายละเอียดร้านค้า</h2>
<hr>
</div>
  <ion-grid>
    <ion-row >
      <ion-col style="text-align: center;">
        <ion-img src="{{this.PathIMAGE}}upload/Business/{{CreateModel.IMAGE}}" style="width: 100%;"></ion-img>  <hr>
      </ion-col>
    </ion-row>
    </ion-grid>
    <hr style="border-top: 1px dashed red;padding:3%;">
<ion-grid style="padding-left:5%;padding-right: 5%;">
    <ion-row >
      <h2 style="text-align:center;"><b>ชื่อร้านค้า</b> {{CreateModel.NAME}}</h2> 
    </ion-row>
    <ion-row >
       <h3 style="text-align:center;"><b>EMAIL</b> {{CreateModel.EMAIL}} บาท</h3>
    </ion-row>
    <ion-row >
      <h3 style="text-align:center;"><b>Contact</b> {{CreateModel.CONTACT}}</h3>
    </ion-row>
    <ion-row >
      <h3 style="text-align:center;"> <b>หมวดหมู่</b> {{CreateModel.CATEGORY_NAME}}</h3>
    </ion-row>
    <ion-row >
      <h3 style="text-align:center;"><b>ประเภท</b> {{CreateModel.TYPE_NAME}}</h3>
    </ion-row>
    <ion-row >
      <h3 style="text-align:center;"><b>เลขประจำตัวผู้เสียภาษี 10 หลัก</b>  {{CreateModel.TAXID10}}</h3>
    </ion-row>
    <ion-row >
      <h3 style="text-align:center;"><b>เลขประจำตัวผู้เสียภาษี 13 หลัก</b>  {{CreateModel.TAXID13}}</h3>
    </ion-row>
  </ion-grid>
</ion-content>
