<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end"  (click)="OnSave()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;บันทึกข้อมูล
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head" style="background-color: red;color:white;text-align: center;padding-top:1%;padding-bottom:1%;">
    
    <h2>จัดการข้อมูล หมวดหมู่สินค้า</h2>

  <br>
  </div>
  <ion-item>
    <ion-label>
      <b>ชื่อ หมวดสินค้า</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.NAME"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>รายละเอียด</b>
    </ion-label>
    <ion-textarea [(ngModel)]="this.CreateModel.DETAIL"  type="number"></ion-textarea>
  </ion-item>
  </ion-content>
