<ion-header>
  <ion-toolbar color="dark">
    <ion-back-button slot="start"></ion-back-button>
 </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head" style="background-color: red;color:white;text-align: center;padding-top:1%;padding-bottom:1%;">
    <h2>รายการสินค้า</h2>
<hr>
</div>
  <ion-grid>
    <ion-list>
      <!-- <ion-item>
        <ion-label>ตัวกรอง</ion-label>
        <ion-select placeholder="เลือกรายการ" (ionChange)="onFilterList($event)">
          <ion-select-option value="all" selected>ทั้งหมด</ion-select-option>
          <ion-select-option *ngFor="let item of GoodsComboList"  value="{{item.ID}}">{{item.NAME}}</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item *ngFor="let item of this.ModelList" (click)="onDetailPage(item)">
        <ion-avatar slot="start">
          <img src="{{this.PathIMAGE}}upload/Goods/{{item.IMAGE}}">
        </ion-avatar>
        <ion-label>
          <h2>{{item.NAME}}</h2>
          <h2>ราคา {{item.PRICE}} บาท</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
