<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">เพิ่ม code สำหรับร้านค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <b>วันหมดอายุ</b>&nbsp;{{this.EXPIRED_DATE}}
    </ion-label>
    <ion-button slot="end" (click)="selectdate()">เลือกวันที่เริ่มต้น</ion-button>
  </ion-item>
  <ion-button expand="full" (click)="onSave()">บันทึก</ion-button>
</ion-content>
