<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title><b *ngIf="this.TransectionModel.IsActive == 1" >รายการขาย</b><b *ngIf="this.TransectionModel.IsActive == 0">รายการยกเลิก</b></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" *ngIf="this.TransectionModel.IsActive == 1 && this.countIsActive == 0 && this.TransectionModel.STATUS == 1">
        <ion-label><b>ยกเลิกใบเสร็จทั้งรายการ</b></ion-label>
      </ion-button>
      <b *ngIf="this.TransectionModel.STATUS == 0 || this.countDetail == this.countIsActive" style="color: red;">Cancel</b> 
      <b *ngIf="this.countIsActive > 0 && this.countDetail != this.countIsActive" style="color: red;">มีรายการยกเลิก</b> 

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head" style="background-color: red;color:white;text-align: center;padding-top:2%;padding-bottom:3%;">
    <h3>#{{this.TransectionModel.ORDER_NAME}}</h3>
    <h1>จำนวน {{this.TransectionModel.TotalOrder}} บาท</h1> 
<hr>
</div>
  <ion-grid>
    <!-- <ion-row>
      <ion-col style="text-align: center;">
        <h1>{{this.TransectionModel.TotalOrder}}</h1>
        <p>รวมทั้งหมด</p>
      </ion-col>
    </ion-row> -->
    
    <ion-list>
      <ion-list-header>
        <ion-label> แคชเชียร์ : เจ้าของ<br>
        ลูกค้า : {{this.TransectionModel.CUSTOMER_NAME}}</ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let item of TransectionDetailModel">
        <ion-item>
          <ion-label>
            <h3>{{item.GOODS_NAME}} x1  <b *ngIf="item.STATUS == 0 && this.TransectionModel.IsActive == 1" style="color: red;">ยกเลิกรายการ</b></h3>
          </ion-label>
          <ion-label slot="end" style="text-align: right;">
            <h3>{{item.PRICE}}</h3>
          </ion-label>
        </ion-item>
        <ion-item-options *ngIf="item.IsActive == 1 && this.TransectionModel.AMOUNT_DISCOUNT == 0 && this.TransectionModel.AMOUNT_DISCOUNT != null && item.STATUS == 1" >
          <ion-item-option color="danger" (click)="onDeleteItemInList(item)">
            ยกเลิกรายการ      
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="this.TransectionModel.AMOUNT_DISCOUNT > 0 && this.TransectionModel.AMOUNT_DISCOUNT != null">
        <ion-label>
          <h3>ส่วนลด</h3>
        </ion-label>
        <ion-label slot="end" style="text-align: right;">
          <h3>-{{this.TransectionModel.AMOUNT_DISCOUNT}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <b>รวมทั้งหมด</b>
        </ion-label>
        <ion-label slot="end" style="text-align: right;">
          <b>{{this.TransectionModel.TotalOrder}}</b>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>{{this.TransectionModel.TimeStamp}}</p>
        </ion-label>
        <ion-label slot="end" style="text-align: right;">
          <p>#{{this.TransectionModel.ORDER_NAME}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
