
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ประกาศ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="banner" style="background-color: darkblue;color:white;text-align: center;padding-top:0%;padding-bottom:0%;">
    <img src="../../../assets/images/banner_login.png" alt="">
  </div>
  <h2 style="text-align: center;padding:3%;color:white;">
    ประกาศ
  </h2>
  <ion-item>
    <ion-textarea [(ngModel)]="this.TEXT" rows="5"></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="sendNotify()">ประกาศ</ion-button>

  <div class="txtHeader" style="padding:3%;color:white;">
      <h3 style="text-align: center;">
      <hr>
     <br>
    <!-- www.devdeethailand.com <br> -->
    Email : support@devdeethaild.com <br><br>
    โทร : 090-986-3750 <br><br>
    www.devdeethailand.com
  </h3>
  </div>
  <!-- <div class="upper">
  </div>    -->
  <!-- <div class="lower">
    
  </div>   -->
</ion-content>
