<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">เคมเปญแลกแต้ม</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <div class="ion-padding">
      <ion-row>
        <ion-col size = "4" size-md="6" size-xs="12" *ngFor="let item of this.ModelList" >
          <ion-card style="width: 100%; max-height: 400px;margin:0 auto;" >
            <img src="{{this.PathIMAGE}}upload/Goods/{{item.IMAGE}}" width="100%" height="200px" (click)="onDetailPage(item)"/>
            <ion-card-content >
              <ion-toggle [(ngModel)]="item.STATUS" (ionChange)="editSTATUS(item)" disabled="{{item.disabledtogle}}"></ion-toggle > <b>ปิด/เปิด</b>
              <div class="cut-text" style="width: 100%;">
                <h3><b >{{item.NAME}}</b></h3>
                <h3><b >จำนวนคะแนนที่ใช้ {{item.EXCHANGE_REWARD}} คะแนน</b></h3>
              </div>
              <p *ngIf="item.BAHTORPERCENT == 0">จำนวนที่ลด {{item.DISCOUNT}}บาท</p>
              <p *ngIf="item.BAHTORPERCENT == 1">จำนวนที่ลด {{item.DISCOUNT}} %</p>
              <p><small>จำนวนวันใช้งาน {{item.TOTALDATE}}</small></p>
              <p><small>วันเริ่มต้นแคมเปญ {{item.DATE_START_CAMPAIGN}}</small></p>
              <p><small>วันสิ้นสุดต้นแคมเปญ {{item.DATE_END_CAMPAIGN}}</small></p>
<!-- 
              <p *ngIf="item.STATUS == 0" style="color: red;">ปิดใช้งาน</p>
              <p *ngIf="item.STATUS == 1" style="color: green;">พร้อมใช้งาน</p> -->
            </ion-card-content>
          </ion-card>
        </ion-col>   
      </ion-row>
    </div>
  </ion-grid>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="onAddPage()">เพิ่ม Voucher</ion-button>
</ion-footer>