<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">รายการพนักงาน</ion-title>
    <ion-buttons slot="end"  (click)="onAddPage()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;เพิ่มพนักงาน
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item *ngFor="let item of this.ListModel" (click)="onDetailPage(item)">
        <ion-avatar slot="start">
          <img src="{{this.PathIMAGE}}upload/User/{{item.IMAGE}}">
        </ion-avatar>
        <ion-label>
          <h3>{{item.NAME}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
