<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">รายการสินค้า</ion-title>
    <ion-buttons slot="end"  (click)="onAddPage()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;เพิ่มสินค้า
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item>
        <ion-label>ตัวกรอง</ion-label>
        <ion-select placeholder="เลือกรายการ" (ionChange)="onFilterList($event)">
          <ion-select-option value="all" selected>ทั้งหมด</ion-select-option>
          <ion-select-option *ngFor="let item of GoodsComboList"  value="{{item.ID}}">{{item.NAME}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngFor="let item of this.ModelList" (click)="onDetailPage(item)">
        <ion-avatar slot="start">
          <img src="{{this.PathIMAGE}}upload/Goods/{{item.IMAGE}}">
        </ion-avatar>
        <ion-label>
          <h3>{{item.NAME}}</h3>
          <p>ราคา {{item.PRICE}} บาท</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
