
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ร้านค้าหมดอายุ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="banner" style="background-color: darkblue;color:white;text-align: center;padding-top:0%;padding-bottom:0%;">
    <img src="/assets/images/header_banner1.PNG" alt=""> 
  </div>
  <h2 style="text-align: center;padding:3%;color:white;">
    ใส่โค๊ดเพื่อต่ออายุการใช้งาน
  </h2>
  <ion-item>
    <ion-label>
        CODE
    </ion-label>
    <ion-input [(ngModel)]="this.CODE"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="ngSaveRenewCode()">ต่ออายุ</ion-button>

  <div class="txtHeader" style="padding:3%;color:white;">
      <h3 style="text-align: center;">
      <hr>
     <br>
    <!-- www.devdeethailand.com <br> -->
    Email : support@devdeethaild.com <br><br>
    โทร : 090-986-3750 <br><br>
    www.devdeethailand.com
  </h3>
  </div>
  <!-- <div class="upper">
  </div>    -->
  <!-- <div class="lower">
    
  </div>   -->
</ion-content>
