<ion-header>
  <ion-toolbar>
    <ion-title>โค๊ดสำหรับร้านค้าที่สามารถใช้งานได้</ion-title>
    <ion-buttons slot="end"  (click)="onAddPage()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;เพิ่มสินค้า
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- <ion-item>
      <ion-icon name="search-outline"></ion-icon>
      <ion-input  placeholder="ค้นหา" ></ion-input>
    </ion-item> -->
    <ion-item *ngFor="let item of this.ModelList">
       <ion-label>
          <h3>{{item.CODE}}</h3>
          <p> วันหมดอายุ {{item.EXPIRED_DATE}}</p>
       </ion-label>
    </ion-item>
  </ion-grid>
</ion-content>
