
<ion-content>
  <ion-grid>
    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input [(ngModel)]="this.CrateModel.EMAIL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="this.CrateModel.PASSWORD"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="ngOnLogin()" routerDirection="root" >Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="ngOnRegister()">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
