<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ใบเสร็จรับเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner" style="background-color: darkblue;color:white;text-align: center;padding-top:0%;padding-bottom:0%;">
    <!-- <img src="/assets/images/header_banner1.PNG" alt="">  -->
  </div>
  <ion-grid>
  <!-- <ion-item>
    <ion-icon name="search-outline"></ion-icon>
    <ion-input  placeholder="ค้นหา" [(ngModel)]="this.Search" (ionChange)="getList()"></ion-input>
  </ion-item> -->
  <ion-item *ngFor="let item of ListModel" (click)="onDetail(item)" >
    <ion-icon *ngIf="item.IsActive == 0" slot="start" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="item.CATEGORYPAYMENT == 'พร้อมเพย์' && item.IsActive == 1" slot="start" name="qr-code-outline"></ion-icon>
    <ion-icon *ngIf="item.CATEGORYPAYMENT == 'เงินสด' && item.IsActive == 1"slot="start" name="cash-outline"></ion-icon>
    <ion-label >
      <b>{{item.TotalOrder}} บาท</b>
      <p>{{item.TimeStamp}}</p>
    </ion-label>
    <ion-label slot="end" style="text-align: right;">
      <b> #{{item.ORDER_NAME}}</b>
        <p *ngIf="item.IsActive == 0"> <b *ngIf="item.IsActive == 0" style="color: red;">Cancel</b> #{{item.REFERENCE_ORDER_NAME}}</p>
    </ion-label>
  </ion-item>
</ion-grid>
<ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
