<ion-header>
  <ion-toolbar color="dark">
    <ion-back-button slot="start"></ion-back-button> 
    <ion-title style="text-align: center;">สมัครใช้งาน ร้านค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <img src="/assets/images/shop1.PNG" alt="">
  </ion-grid>
  <div class="txtHeader">
    
    <h3>กรอกข้อมูลร้านค้า</h3>
    
  </div>
  <hr>
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <img [src]=base64img class="square" *ngIf="base64img!=''" width="200px" height="200px">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
          <ion-button  (click)="imageCapturedGallery()" style="width: 200px;"> เลือกรูป </ion-button>&nbsp;
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-item>
      <ion-label>
        E-Mail (สำหรับใช้ล็อคอิน)
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.EMAIL" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Password
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.PASSWORD" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Re-Password
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.PASSWORD2" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        ชื่อร้านค้า
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.NAME"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        หมวดหมู่
      </ion-label>
      <ion-select  okText="Okay" cancelText="Dismiss" [(ngModel)]="this.CreateModel.CATEGORY_ID">
        <ion-select-option *ngFor="let item of this.combocategory"  value="{{item.ID}}">{{item.NAME}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        ประเภทร้านค้า
      </ion-label>
      <ion-select  okText="Okay" cancelText="Dismiss" [(ngModel)]="this.CreateModel.TYPE_ID">
        <ion-select-option *ngFor="let item of this.combotype"  value="{{item.ID}}">{{item.NAME}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        เบอร์โทรศัพท์
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.TEL"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>
        ชื่อผู้ใช้งาน
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.CONTACT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        เลขผู้เสียภาษี 10 หลัก
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.TAXID10"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        เลขผู้เสียภาษี 13 หลัก 
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.TAXID13"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        ที่อยู่
      </ion-label>
      <ion-textarea [(ngModel)]="this.DetailModel.ADDRESS"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>
        โค๊ดแนะนำ
      </ion-label>
      <ion-input [(ngModel)]="this.CreateModel.CODE"></ion-input>
    </ion-item>
  </ion-grid>
  <ion-row>
    <ion-col padding>
      <ion-button expand="block" routerDirection="root"(click)="upload()" >สมัครใช้งาน</ion-button>
    </ion-col>
  </ion-row>
  <ion-label><b style="color: white;">&nbsp;* การสมัครใช้งาน จะมีอายุใช้งานได้ 30 วัน</b></ion-label>
</ion-content>
