<ion-header>
  <ion-toolbar>
     <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align: center;">รายละเอียดพนักงาน</ion-title>
    <ion-buttons slot="end"  (click)="onAddPage()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;พนักงาน
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-img src="{{this.PathIMAGE}}upload/User/{{CreateModel.IMAGE}}"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h1 style="text-align:center">{{CreateModel.NAME}}</h1></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h2 style="text-align:center">เบอร์โทรศัพท์ {{CreateModel.TEL}} </h2></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h2 style="text-align:center">ตำแหน่ง {{CreateModel.ROLE_NAME}}</h2></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <ion-label ><h2 style="text-align:center">สาขา {{CreateModel.BARNCH_NAME}}</h2></ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
