<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align: center;">สร้าง Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>ชื่อ Order</ion-label>
    <ion-input [(ngModel)]="this.ORDER_NAME" ></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="onSave()" >บันทึกออเดอร์</ion-button>
</ion-content>
