ion-content {
  // position: absolute;
  // top: 50%;
  // left: 0%;
  // // right: 50%;
  // margin: 0 auto;
  // margin-top: 0;
  // margin-left: 0;
  // --background: url(assets/images/background.png) no-repeat center/cover fixed;
  --background: url('../../../assets/images/background.png') no-repeat center center / cover ;
  
}

ion-item {
  --background: none;
  opacity:1;
  --color:white;
}

.txtHeader{
  color:white;
  padding : 5%;
  text-align:center;
}
