<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ตั้งค่า</ion-title>
    <ion-buttons slot="end"  (click)="save()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;บันทึก
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <b>ชื่อร้านค้า</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.NAME"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>E-Mail ร้านค้า</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.EMAIL" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>เปิดใช้งานคะแนน</b></ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.SETTING_BOOLEAN_POINT"  disabled="{{this.CountTransection}}">
      <ion-select-option  value="1">เปิดใช้งาน</ion-select-option>
      <ion-select-option  value="0">ปิดใช้งาน</ion-select-option> 
    </ion-select>
  </ion-item>
  <ion-item *ngIf="this.CreateModel.SETTING_BOOLEAN_POINT == 1" >
    <ion-label>
      <b>1 บาท เท่ากับ</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.SETTING_BAHTTOPOINT"  type="number" disabled="{{this.CountTransection}}"></ion-input>
    <ion-label>
      <b>คะแนน</b>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="this.CreateModel.SETTING_BOOLEAN_POINT == 1">
    <ion-label><b>เปิดคืนคะแนนหลังจากยกเลิกใบเสร็จ</b></ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.SETTING_REFUND_POINT" >
      <ion-select-option  value="1">เปิดใช้งาน</ion-select-option>
      <ion-select-option  value="0">ปิดใช้งาน</ion-select-option> 
    </ion-select>
  </ion-item>
  
</ion-content>
