<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" *ngIf="CustomerModel == undefined" (click)="onAddCustomer()">
      <ion-button>
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end"  *ngIf="CustomerModel != undefined" (click)="onCustomerDetail()">
      <ion-button>
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end" *ngIf="this.TempGoodsList.length > 0" (click)="onSaveOrder()">
      <ion-button>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="this.TempGoodsList.length == 0"(click)="onOpenOrder()">
      <ion-button>
        <ion-icon  slot="icon-only"       name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="start" (click)="onOpenScanbarcode()">
      <ion-button>
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">ออเดอร์</ion-title>
  </ion-toolbar>
</ion-header>


<div class="container">
  <div class="upper">
    <ion-content>
      <ion-grid>
        <ion-item>
          <ion-input placeholder="รหัสสินค้า" [(ngModel)]="this.UID" (keyup.enter)="onPushOrderByEnter()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>เลือก หมวดหมู่สินค้า</ion-label>
          <ion-select placeholder="เลือกรายการ"[(ngModel)]="this.optionFilter" (ionChange)="onFilterList($event)">
            <ion-select-option value="all" selected>ทั้งหมด</ion-select-option>
            <ion-select-option  value="goods">สินค้า</ion-select-option>
            <ion-select-option *ngFor="let item of GoodsComboList"  value="{{item.ID}}">{{item.NAME}}</ion-select-option>
            <ion-select-option value="discount">ส่วนลด</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- <div class="ion-padding"> -->
          <ion-row>
            <ion-col *ngFor="let item of this.GoodsList" (click)="onPushOrder(item)" size = "3" size-md="2" size-xs="4">
              <ion-card style="width: 100%; max-height: 200px;margin:0 auto;" *ngIf="this.vListGoods == true">
                <div style="text-align: center;">
                  <img src="{{this.PathIMAGE}}upload/Goods/{{item.IMAGE}}" width="100px" height="100px" />
                </div>
                <ion-card-content >
                  <div class="cut-text" style="width: 100px;">
                    <h3><b >{{item.NAME}}</b></h3>
                  </div>
                  <p *ngIf="item.STATUS == 1" >  {{item.PRICE}} ฿</p>
                  <p *ngIf="item.STATUS == 0" style="color: red;" >ไม่พร้อมขาย</p>
                  <p *ngIf="item.STOCK_IsActive == 1" >คลัง: {{item.STOCK}}</p>
                </ion-card-content>
              </ion-card>
            </ion-col>   
          </ion-row>
          <ion-row>
            <ion-col *ngFor="let item of this.DiscountList" (click)="onPushDiscount(item)"  size-md="2" size-xs="4">
              <ion-card style="width: 100%; max-height: 195px;margin:0 auto;" *ngIf="this.vListDiscount == true">
                <div style="text-align: center;">
                  <img src="{{this.PathIMAGE}}upload/discount.png" width="100px" height="100px"/>
                </div>  
                <!-- <ion-card-header>
                  <ion-card-title>{{item.NAME}}</ion-card-title>
                </ion-card-header> -->
                <ion-card-content >
                  <div class="cut-text" style="width: 100px;">
                    <h3><b>ส่วนลด </b></h3>
                    <h4><b>{{item.NAME}}</b></h4>
                  </div>
                  <small>ราคา {{item.DISCOUNT}} <span *ngIf="item.BAHTORPERCENT == 0" >บาท</span> <span *ngIf="item.BAHTORPERCENT == 1">%</span> </small>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        <!-- </div> -->
        
      </ion-grid>
      <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)  ">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </div>
  <div class="lower">
    <ion-content>
      <ion-grid >
        <ion-row style="background-color:red;color:white;">
          <ion-col style="text-align: center;">
            <ion-label>
              <b>
              <p>รายการออเดอร์ <b *ngIf="this.CustomerModel != undefined">ของนาย {{this.CustomerModel.NAME}}</b></p>
            </b>
            </ion-label>
          </ion-col>
        </ion-row>
        <!-- <ion-label>
          <h2>รายการออเดอร์ <b *ngIf="this.CustomerModel != undefined">ของนาย {{this.CustomerModel.NAME}}</b></h2>
        </ion-label> -->
        <ion-item-sliding *ngFor="let item of this.TempDiscount">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{this.PathIMAGE}}upload/discount.png">
            </ion-avatar>
            <ion-label>
              <h2>{{item.NAME}}</h2>
            </ion-label>
            <ion-label slot="end" style="text-align: right;">
              <h3 style="text-align: right;font-weight: bold;">ลด {{item.DISCOUNT}} <span *ngIf="item.BAHTORPERCENT == 0" >บาท</span> <span *ngIf="item.BAHTORPERCENT == 1">%</span></h3>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="onDeleteDiscountInList(item)">
              <ion-icon name="trash-outline"></ion-icon>&nbsp;ลบรายการ   
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding *ngFor="let item of this.TempGoodsList">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{this.PathIMAGE}}upload/Goods/{{item.IMAGE}}">
            </ion-avatar>
            <ion-label>
              <h2>{{item.NAME}}</h2>
            </ion-label>
            <ion-label slot="end" style="text-align: right;">
              <h3 style="text-align: right;font-weight: bold;">{{item.PRICE}} บาท</h3>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="onDeleteItemInList(item)">
              <ion-icon name="trash-outline"></ion-icon>&nbsp;ลบรายการ         
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        
      </ion-grid>      
    </ion-content>
  </div>
</div>
<ion-footer>
  <ion-toolbar>
  <ion-row style="background-color: red;color:white;">
    <ion-col style="text-align: right; padding-right:5%;">
        <b>
          ยอดเงินรวม {{this.TotalOrder}} บาท <br>
          จำนวน  {{this.num}}  รายการ 
      
    </b>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col size="5" >
        <!-- <ion-button *ngIf="this.TempGoodsList.length > 0" expand="full" (click)="onSaveOrder()" > <b>พักการขาย</b></ion-button>
        <ion-button *ngIf="this.TempGoodsList.length == 0" expand="full" (click)="onOpenOrder()" ><b>รายการที่บันทึกไว้</b></ion-button> -->

        <ion-button *ngIf="CustomerModel == undefined" (click)="onAddCustomer()" expand="full"> <b>เพิ่มลูกค้า</b></ion-button>
        <ion-button *ngIf="CustomerModel != undefined" (click)="onCustomerDetail()" expand="full" ><b>รายละเอียดลูกค้า</b></ion-button>
      </ion-col  >
      <ion-col size="7">
        <ion-button expand="full" color="success"  (click)="onPayment()"><ion-icon name="cash-outline"></ion-icon>&nbsp;<b> ชำระเงิน </b></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

