body , html {
    height: 100%;
  }
  .container {
    height: 100%;
    
  }
  
  .upper {
    border-bottom: 1px solid;
    height: 60%;
  }
  .lower {
    height: 40%;
  }
  ion-slides{
    ion-slide {
      height: 200px;
      width: 100% !important;

      ion-card{
        height: 180px;
        width: 100%;
    }
  }
  .cut-text{
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */ 
    display: block; overflow: hidden; 
    white-space: nowrap; 
    width: 25px; /* กำหนดความกว้าง */ 
    }
}