<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title style="text-align: center;">เพิ่มสินค้า</ion-title> -->
    <ion-buttons slot="end"  (click)="upload()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>&nbsp;บันทึก ข้อมูลสินค้า
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
        <img src="{{this.PathIMAGE}}upload/Goods/{{this.CreateModel.IMAGE}}"*ngIf="base64img =='' && this.CreateModel.IMAGE != ''" width="200px" height="200px">
        <img [src]=base64img class="square" *ngIf="base64img!=''" width="200px" height="200px">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row >
      <ion-col></ion-col>
      <ion-col>
          <ion-button  (click)="imageCapturedGallery()" style="width: 200px;"> เลือกรูป </ion-button>&nbsp;
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>
      <b>ชื่อสินค้า</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.NAME"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>ต้นทุน</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.COST"  type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>ราคาสินค้า</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.PRICE" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>SKU</b>
    </ion-label>
    <ion-input [(ngModel)]="this.CreateModel.SKU"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>สินค้าพร้อมขาย</ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.STATUS" >
      <ion-select-option  value="1">พร้อมขาย</ion-select-option>
      <ion-select-option  value="0">ไม่พร้อมขาย</ion-select-option> 
    </ion-select>
  </ion-item>
  <ion-item *ngIf="this.CreateModel.STOCK == 0" >
    <ion-label>เปิดใช้ Stock</ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.STOCK_IsActive" >
      <ion-select-option  value="1">เปิด</ion-select-option>
      <ion-select-option  value="0">ปิด</ion-select-option> 
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>ประเภท</ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="this.CreateModel.CATEGORY_ID" >
      <ion-select-option *ngFor="let item of GoodsComboList" [value]="item.ID">{{item.NAME}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
